In [1]:
import numpy as np
import pandas as pd

import gc
from sklearn.model_selection import KFold
from cuml.metrics import mean_absolute_error, mean_squared_error

import seaborn as sns

In [2]:
OUTPUT_DICT = ''

ID = 'Id'
TARGET_COLS = ['age', 'domain1_var1', 'domain1_var2', 'domain2_var1', 'domain2_var2']
SEED = 2020

N_FOLD = 5

In [3]:
base_path = '/media/hiroki/share/kaggle_data/trends-assessment-prediction/'
train = pd.read_csv(base_path+'train_scores.csv', dtype={'Id':str})\
            #.dropna().reset_index(drop=True) # to make things easy
reveal_ID = pd.read_csv(base_path+'reveal_ID_site2.csv', dtype={'Id':str})
ICN_numbers = pd.read_csv(base_path+'ICN_numbers.csv')
loading = pd.read_csv(base_path+'loading.csv', dtype={'Id':str})
fnc = pd.read_csv(base_path+'fnc.csv', dtype={'Id':str})
sample_submission = pd.read_csv(base_path+'sample_submission.csv', dtype={'Id':str})

In [4]:
fnc_features, loading_features = list(fnc.columns[1:]), list(loading.columns[1:])

In [5]:
sample_submission['ID_num'] = sample_submission[ID].apply(lambda x: int(x.split('_')[0]))
test = pd.DataFrame({ID: sample_submission['ID_num'].unique().astype(str)})
del sample_submission['ID_num']; gc.collect()
test.head()

      Id
0  10003
1  10006
2  10010
3  10011
4  10012

In [6]:
test.head()

      Id
0  10003
1  10006
2  10010
3  10011
4  10012

In [7]:
# merge
train = train.merge(loading, on=ID, how='left')
train = train.merge(fnc, on=ID, how='left')
train

,Id,age,domain1_var1,domain1_var2,domain2_var1,domain2_var2,IC_01,IC_07,IC_05,IC_16,...,CBN(13)_vs_DMN(94),CBN(18)_vs_DMN(94),CBN(4)_vs_DMN(94),CBN(7)_vs_DMN(94),CBN(18)_vs_CBN(13),CBN(4)_vs_CBN(13),CBN(7)_vs_CBN(13),CBN(4)_vs_CBN(18),CBN(7)_vs_CBN(18),CBN(7)_vs_CBN(4)
0,10001,57.436077,30.571975,62.553736,53.325130,51.427998,0.006070,0.014466,0.004136,0.000658,...,-0.149279,0.552841,0.131046,0.335446,0.394867,-0.042853,0.124627,-0.060712,0.515964,0.290488
1,10002,59.580851,50.969456,67.470628,60.651856,58.311361,0.009087,0.009291,0.007049,-0.002076,...,-0.214216,-0.039792,0.143014,-0.189962,0.498373,0.444231,0.592438,0.028649,0.705524,0.248327
2,10004,71.413018,53.152498,58.012103,52.418389,62.536641,0.004675,0.000957,0.006154,-0.000429,...,-0.130339,0.309540,0.141469,0.030853,0.344394,0.214097,0.317556,0.012435,0.665937,0.081358
3,10005,66.532630,NaN,NaN,52.108977,69.993075,-0.000398,0.006878,0.009051,0.000369,...,-0.139525,0.394932,0.040443,0.428334,0.498837,0.266755,0.227379,0.028984,0.752343,0.087898
4,10007,38.617381,49.197021,65.674285,40.151376,34.096421,0.005192,0.010585,0.012160,-0.000920,...,-0.150218,0.408926,0.072004,0.157582,0.532046,0.355448,0.462675,0.161005,0.703679,0.293607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5872,21746,14.257265,21.358872,61.165998,51.778483,54.640179,-0.001115,0.007108,0.008652,0.003596,...,-0.249481,0.205351,0.012067,0.310750,0.426335,0.193812,0.158720,0.055471,0.568766,0.160516
5873,21747,55.456978,68.169675,29.907995,55.349257,54.019517,0.007263,0.016489,0.012704,0.004357,...,-0.119170,0.201846,-0.008290,0.119828,0.551936,0.598931,0.511816,0.303312,0.704483,0.461588
5874,21750,48.948756,55.114811,60.878271,38.617246,50.679885,0.005996,0.003873,0.012353,0.000242,...,-0.103786,0.375065,0.104857,0.262614,0.502715,0.322353,0.458041,0.343754,0.705207,0.341224
5875,21752,66.532630,59.844808,72.303110,55.458281,46.870235,0.000627,0.011407,0.010957,0.000534,...,0.229712,0.431489,0.039062,0.119474,0.523894,0.445209,0.332011,0.228977,0.560968,0.263504
5876,21754,68.820928,56.594193,34.605868,49.922535,50.383078,0.010670,0.010670,0.006662,-0.002215,...,0.341059,0.390722,0.234821,0.487450,0.294131,0.459764,0.475639,0.080498,0.529851,0.381040

In [8]:
# merge
test = test.merge(loading, on=ID, how='left')
test = test.merge(fnc, on=ID, how='left')
test

,Id,IC_01,IC_07,IC_05,IC_16,IC_26,IC_06,IC_10,IC_09,IC_18,...,CBN(13)_vs_DMN(94),CBN(18)_vs_DMN(94),CBN(4)_vs_DMN(94),CBN(7)_vs_DMN(94),CBN(18)_vs_CBN(13),CBN(4)_vs_CBN(13),CBN(7)_vs_CBN(13),CBN(4)_vs_CBN(18),CBN(7)_vs_CBN(18),CBN(7)_vs_CBN(4)
0,10003,0.008151,0.014684,0.010444,-0.005293,-0.002913,0.015042,0.017745,0.003930,-0.008021,...,-0.154941,0.136850,-0.022361,0.137625,0.677972,0.409412,0.563892,0.438684,0.618204,0.284474
1,10006,0.000334,0.005311,0.010053,0.006920,-0.000065,0.015310,0.016543,0.004794,0.003982,...,-0.053606,0.240957,0.270419,0.367692,0.354501,0.486364,0.416908,0.285274,0.693490,0.448526
2,10010,0.007103,0.006144,0.009770,-0.002884,-0.001346,0.015651,0.011613,-0.003291,0.013423,...,-0.244332,0.272077,0.193523,0.192254,0.563982,0.124482,0.488926,0.083368,0.774299,0.129327
3,10011,0.004362,0.010240,0.010167,0.004492,-0.001623,0.017381,0.014680,0.007453,0.008786,...,-0.099726,0.557121,0.042626,0.179456,0.416546,0.445402,0.436909,0.165182,0.591561,0.306678
4,10012,-0.007521,-0.003918,0.008434,-0.001145,0.002017,0.015065,0.019616,0.004140,-0.003744,...,-0.025230,0.203298,0.173427,0.046047,0.561599,0.418268,0.609517,0.218285,0.790285,0.301010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5872,21745,0.005406,0.006275,0.012252,0.003518,0.001400,0.015054,0.015373,0.001532,0.003546,...,0.179080,0.580813,0.202241,0.254870,0.458581,0.434638,0.587167,0.009854,0.472956,0.342085
5873,21748,0.004240,0.009213,0.010981,0.000443,-0.003072,0.010702,0.014673,0.005523,0.005780,...,-0.106345,0.234340,0.138985,0.343382,0.708744,0.312812,0.536501,0.214803,0.849512,0.204741
5874,21749,0.004783,0.017910,0.012128,-0.005683,-0.011613,0.017000,0.007230,0.001315,0.008788,...,-0.165575,0.170154,-0.029638,0.383761,0.398305,0.578621,0.357127,0.009479,0.609545,0.317230
5875,21751,0.003835,0.015067,0.015428,-0.002030,0.001205,0.012396,0.011026,-0.001491,0.005310,...,-0.087604,0.131902,-0.047932,0.022317,0.583869,0.596734,0.515209,0.379589,0.568422,0.439016
5876,21753,0.007431,0.021419,0.014143,-0.005623,-0.006399,0.008602,0.006831,-0.001018,0.014972,...,-0.147730,0.206375,0.096594,0.317651,0.545878,0.411197,0.230889,0.167354,0.221668,0.371357

In [9]:
import IPython

def display(*dfs, head=True):
    for df in dfs:
        IPython.display.display(df.head() if head else df)

In [10]:
def metric(y_true, y_pred):
    return np.mean(np.sum(np.abs(y_true - y_pred), axis=0)/np.sum(y_true, axis=0))

In [11]:
# Giving less importance to FNC features since they are easier to overfit due to high dimensionality.
FNC_SCALE = 1/600

train[fnc_features] *= FNC_SCALE
test[fnc_features] *= FNC_SCALE

In [12]:
# 学習データに対する「目的変数を知らない」予測値と、テストデータに対する予測値を返す関数
def predict_cv(train_x, train_y, test_x, model, target_name):
    preds = []
    preds_test = []
    va_idxes = []
    
    score = []
    mae = []
    rmse = []

    # shuffleしなくても良い
    kf = KFold(n_splits=N_FOLD, shuffle=True, random_state=SEED)

    # クロスバリデーションで学習・予測を行い、予測値とインデックスを保存する
    for i, (tr_idx, va_idx) in enumerate(kf.split(train_x)):
        tr_x, va_x = train_x.iloc[tr_idx].values, train_x.iloc[va_idx].values
        tr_y, va_y = train_y.iloc[tr_idx].values, train_y.iloc[va_idx].values
        model.fit(tr_x, tr_y)
        pred = model.predict(va_x)
        preds.append(pred)
        pred_test = model.predict(test_x)
        preds_test.append(pred_test)
        va_idxes.append(va_idx)
        
        score.append(metric(va_y, pred))
        mae.append(mean_absolute_error(va_y, pred))
        rmse.append(np.sqrt(mean_squared_error(va_y, pred)))
        
    score_cv = np.array(score).mean()
    mae_cv = np.array(mae).mean()
    rmse_cv = np.array(rmse).mean()
    print("{0}_score:{1}".format(target_name, np.round(score_cv, 8)))
    print("{0}_mae:{1}".format(target_name, np.array(mae_cv).mean()))
    print("{0}_rmse:{1}".format(target_name, np.array(rmse_cv).mean()))
    # バリデーションデータに対する予測値を連結し、その後元の順序に並べ直す
    va_idxes = np.concatenate(va_idxes)
    preds = np.concatenate(preds, axis=0)
    order = np.argsort(va_idxes)
    pred_train = preds[order]

    # テストデータに対する予測値の平均をとる
    preds_test = np.mean(preds_test, axis=0)

    return pred_train, preds_test, score_cv

# 1st layer

## SVR

In [13]:
import cudf
import cupy as cp
from cuml import SVR

In [17]:
pred_train_targets_svr = {}
pred_test_targets_svr = {}

pred_train_targets_svr_dfs = {}
pred_test_targets_svr_dfs = {}

overal_score = 0

print("N_FOLD:{}".format(N_FOLD))

for target, c, w in [("age", 60, 0.3),
                     ("domain1_var1", 12, 0.175),
                     ("domain1_var2", 8, 0.175),
                     ("domain2_var1", 9, 0.175),
                     ("domain2_var2", 12, 0.175)]:
    
    train_df = train[train[target].notnull()]
    test_df = test
    
    if (target == 'domain1_var2'):
        train_df = pd.merge(train_df, pred_train_targets_svr_dfs['age'], on="Id")
        test_df = pd.merge(test_df, pred_test_targets_svr_dfs['age'], on="Id")
        #display(train_df)
        #display(test_df)
        
    use_idx = train_df.index
    train_x = train_df.drop([ID]+TARGET_COLS, axis=1)
    train_y = train_df[target]
    test_x = test_df.drop(ID, axis=1)
    svr = SVR(C=c, cache_size=3000.0)
    
    print("-----{}-----".format(target))
    pred_train, preds_test, score_cv = predict_cv(train_x, train_y, test_x, svr, target)
    overal_score += w*score_cv
    pred_train_targets_svr[target] = pred_train
    pred_test_targets_svr[target] = preds_test
    
    pred_train_targets_svr_dfs[target] = pd.Series(pred_train, name="pre_svr_{}".format(target), index=use_idx)
    pred_train_targets_svr_dfs[target] = pd.merge(train['Id'],
                                                  pred_train_targets_svr_dfs[target],
                                                  left_index=True,
                                                  right_index=True)
    pred_test_targets_svr_dfs[target] = pd.Series(preds_test, name="pre_svr_{}".format(target))
    pred_test_targets_svr_dfs[target] = pd.concat([test['Id'], pred_test_targets_svr_dfs[target]], axis=1)
    
    
print('--------------------------------------------')
print("Overal score:", np.round(overal_score, 8))

N_FOLD:5
-----age-----
age_score:0.14386585
age_mae:7.197805992588449
age_rmse:9.147440070169111
-----domain1_var1-----
domain1_var1_score:0.15117448
domain1_var1_mae:7.7821543363146235
domain1_var1_rmse:9.704146603836946
-----domain1_var2-----
domain1_var2_score:0.15096998
domain1_var2_mae:8.943497267336662
domain1_var2_rmse:11.413747032949331
-----domain2_var1-----
domain2_var1_score:0.18195558
domain2_var1_mae:8.608609438557298
domain2_var1_rmse:10.934885564728182
-----domain2_var2-----
domain2_var2_score:0.17589358
domain2_var2_mae:9.128640415626789
domain2_var2_rmse:11.735250108597658
--------------------------------------------
Overal score: 0.15865864

In [18]:
for df in pred_train_targets_svr_dfs.values():
    display(df.describe())

        pre_svrage
count  5877.000000
mean     50.196965
std       9.773460
min      20.334450
25%      43.038603

       pre_svrdomain1_var1
count          5439.000000
mean             51.690685
std               3.147667
min              42.270997
25%              49.528148

       pre_svrdomain1_var2
count          5439.000000
mean             60.034802
std               0.254979
min              59.604675
25%              59.842169

       pre_svrdomain2_var1
count          5838.000000
mean             47.903796
std               2.722549
min              39.380113
25%              45.968108

       pre_svrdomain2_var2
count          5838.000000
mean             52.700527
std               2.335345
min              44.452033
25%              51.082342

In [19]:
pred_test_targets_df = pd.DataFrame(pred_test_targets_svr)

In [20]:
pred_test_targets_df.describe()

               age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
count  5877.000000   5877.000000   5877.000000   5877.000000   5877.000000
mean     49.106156     51.863097     60.051334     47.603374     52.864718
std       9.915822      3.152111      0.225668      2.699923      2.228539
min      18.709324     41.851543     59.793859     38.386294     44.883339
25%      41.918888     49.606463     59.844881     45.685065     51.345939
50%      48.801923     51.822725     59.992885     47.625133     52.827454
75%      56.206817     53.968980     60.224723     49.552102     54.336934
max      81.962472     63.161986     61.190095     56.789446     62.539575

In [21]:
pred_test_targets_df

            age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
0     51.174243     50.344552     59.893084     47.831571     58.071251
1     62.799943     54.825729     59.848343     50.494938     51.920740
2     40.416030     50.427917     60.263561     45.898079     53.258320
3     49.488949     52.684360     59.941228     47.899687     51.495168
4     51.861948     55.367383     59.875553     45.597591     58.524878
...         ...           ...           ...           ...           ...
5872  39.215215     50.607787     60.305358     46.252299     54.214536
5873  57.492252     57.586491     59.794862     50.269298     53.274539
5874  42.109480     47.428567     60.202178     45.114528     51.289126
5875  39.902905     51.145214     60.281657     46.097978     56.901258
5876  44.536472     45.792894     60.112123     44.866848     55.409808

[5877 rows x 5 columns]

## baysian ridge

In [22]:
from sklearn.linear_model import BayesianRidge

In [23]:
pred_train_targets_bayes_ridge = {}
pred_test_targets_bayes_ridge = {}

pred_train_targets_bayes_ridge_dfs = {}
pred_test_targets_bayes_ridge_dfs = {}

overal_score = 0

print("N_FOLD:{}".format(N_FOLD))

for target, w in [("age", 0.3),
                  ("domain1_var1", 0.175),
                  ("domain1_var2", 0.175),
                  ("domain2_var1", 0.175),
                  ("domain2_var2", 0.175)]:
    
    train_df = train[train[target].notnull()]
    test_df = test
    
    use_idx = train_df.index
    train_x = train_df.drop([ID]+TARGET_COLS, axis=1)
    train_y = train_df[target]
    test_x = test_df.drop(ID, axis=1)
    bayes_ridge = BayesianRidge(n_iter = 3000)
    
    print("-----{}-----".format(target))
    pred_train, preds_test, score_cv = predict_cv(train_x, train_y, test_x, bayes_ridge, target)
    overal_score += w*score_cv
    pred_train_targets_bayes_ridge[target] = pred_train
    pred_test_targets_bayes_ridge[target] = preds_test
    
    pred_train_targets_bayes_ridge_dfs[target] = pd.Series(pred_train, name="pre_bayRidge_{}".format(target), index=use_idx)
    pred_train_targets_bayes_ridge_dfs[target] = pd.merge(train['Id'],
                                                 pred_train_targets_bayes_ridge_dfs[target],
                                                 left_index=True,
                                                 right_index=True)
    pred_test_targets_bayes_ridge_dfs[target] = pd.Series(preds_test, name="pre_bayRidge_{}".format(target))
    pred_test_targets_bayes_ridge_dfs[target] = pd.concat([test['Id'], pred_test_targets_bayes_ridge_dfs[target]], axis=1)
print('--------------------------------------------')
print("Overal score:", np.round(overal_score, 8))

N_FOLD:5
-----age-----
age_score:0.14321187
age_mae:7.165049493545401
age_rmse:9.098309269403074
-----domain1_var1-----
domain1_var1_score:0.15090165
domain1_var1_mae:7.768116543260325
domain1_var1_rmse:9.676266347797846
-----domain1_var2-----
domain1_var2_score:0.15118597
domain1_var2_mae:8.956318292986733
domain1_var2_rmse:11.36979535814944
-----domain2_var1-----
domain2_var1_score:0.18193697
domain2_var1_mae:8.60787614389697
domain2_var1_rmse:10.890245631729742
-----domain2_var2-----
domain2_var2_score:0.17665334
domain2_var2_mae:9.168203560911689
domain2_var2_rmse:11.70805955311791
--------------------------------------------
Overal score: 0.1585822

In [24]:
for df in pred_train_targets_bayes_ridge_dfs.values():
    display(df.describe())

       pre_bayRidge_age
count       5877.000000
mean          50.038717
std           10.038128
min           19.518356
25%           42.842211

       pre_bayRidge_domain1_var1
count                5439.000000
mean                   51.492404
std                     3.185482
min                    40.796837
25%                    49.327597

       pre_bayRidge_domain1_var2
count                5439.000000
mean                   59.245596
std                     0.645455
min                    56.373948
25%                    58.836050

       pre_bayRidge_domain2_var1
count                5838.000000
mean                   47.321834
std                     2.256074
min                    40.439732
25%                    45.751823

       pre_bayRidge_domain2_var2
count                5838.000000
mean                   51.903249
std                     1.865373
min                    40.634094
25%                    50.685836

In [25]:
pred_test_targets_df = pd.DataFrame(pred_test_targets_bayes_ridge)

In [26]:
pred_test_targets_df.describe()

               age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
count  5877.000000   5877.000000   5877.000000   5877.000000   5877.000000
mean     49.101251     51.578842     59.260423     47.010165     52.043045
std      10.253920      3.248679      0.609360      2.268347      1.805583
min      16.523534     40.566204     56.705429     39.276899     44.441306
25%      41.717775     49.412594     58.862905     45.453390     50.829426
50%      48.786756     51.636266     59.274635     46.951681     52.020657
75%      56.369883     53.822229     59.675267     48.573986     53.233682
max      83.799690     63.655703     61.563072     55.509670     59.140735

## BaggingRegressor

In [27]:
from sklearn.ensemble import BaggingRegressor
from sklearn.linear_model import Ridge

In [28]:
pred_train_targets_bagging_ridge = {}
pred_test_targets_bagging_ridge = {}

pred_train_targets_bagging_ridge_dfs = {}
pred_test_targets_bagging_ridge_dfs = {}

overal_score = 0

print("N_FOLD:{}".format(N_FOLD))

for target, w in [("age", 0.3),
                  ("domain1_var1", 0.175),
                  ("domain1_var2", 0.175),
                  ("domain2_var1", 0.175),
                  ("domain2_var2", 0.175)]:
    
    train_df = train[train[target].notnull()]
    test_df = test
    
    use_idx = train_df.index
    train_x = train_df.drop([ID]+TARGET_COLS, axis=1)
    train_y = train_df[target]
    test_x = test_df.drop(ID, axis=1)
    bagging_ridge = BayesianRidge(n_iter = 3000)
    
    print("-----{}-----".format(target))
    pred_train, preds_test, score_cv = predict_cv(train_x, train_y, test_x, bagging_ridge, target)
    overal_score += w*score_cv
    pred_train_targets_bagging_ridge[target] = pred_train
    pred_test_targets_bagging_ridge[target] = preds_test
    
    pred_train_targets_bagging_ridge_dfs[target] = pd.Series(pred_train, name="pre_bagRidge_{}".format(target), index=use_idx)
    pred_train_targets_bagging_ridge_dfs[target] = pd.merge(train['Id'],
                                                 pred_train_targets_bagging_ridge_dfs[target],
                                                 left_index=True,
                                                 right_index=True)
    pred_test_targets_bagging_ridge_dfs[target] = pd.Series(preds_test, name="pre_bagRidge_{}".format(target))
    pred_test_targets_bagging_ridge_dfs[target] = pd.concat([test['Id'], pred_test_targets_bagging_ridge_dfs[target]], axis=1)
print('--------------------------------------------')
print("Overal score:", np.round(overal_score, 8))

N_FOLD:5
-----age-----
age_score:0.14321187
age_mae:7.165049493545401
age_rmse:9.098309269403074
-----domain1_var1-----
domain1_var1_score:0.15090165
domain1_var1_mae:7.768116543260325
domain1_var1_rmse:9.676266347797846
-----domain1_var2-----
domain1_var2_score:0.15118597
domain1_var2_mae:8.956318292986733
domain1_var2_rmse:11.36979535814944
-----domain2_var1-----
domain2_var1_score:0.18193697
domain2_var1_mae:8.60787614389697
domain2_var1_rmse:10.890245631729742
-----domain2_var2-----
domain2_var2_score:0.17665334
domain2_var2_mae:9.168203560911689
domain2_var2_rmse:11.70805955311791
--------------------------------------------
Overal score: 0.1585822

In [29]:
for df in pred_train_targets_bagging_ridge_dfs.values():
    display(df, head=False)

         Id  pre_bagRidge_age
0     10001         60.906731
1     10002         56.150469
2     10004         52.027515
3     10005         60.813771
4     10007         43.660350
...     ...               ...
5872  21746         34.199012
5873  21747         51.591765
5874  21750         41.323194
5875  21752         55.273854
5876  21754         68.594275

[5877 rows x 2 columns]

         Id  pre_bagRidge_domain1_var1
0     10001                  53.632844
1     10002                  53.087283
2     10004                  52.085337
4     10007                  49.480579
5     10008                  49.274360
...     ...                        ...
5872  21746                  50.407656
5873  21747                  48.533070
5874  21750                  49.492569
5875  21752                  55.548991
5876  21754                  58.342144

[5439 rows x 2 columns]

         Id  pre_bagRidge_domain1_var2
0     10001                  58.933031
1     10002                  59.347237
2     10004                  58.739435
4     10007                  59.537922
5     10008                  60.325961
...     ...                        ...
5872  21746                  59.896793
5873  21747                  58.785206
5874  21750                  59.906589
5875  21752                  59.230211
5876  21754                  59.515583

[5439 rows x 2 columns]

         Id  pre_bagRidge_domain2_var1
0     10001                  48.193288
1     10002                  47.758491
2     10004                  46.646664
3     10005                  48.631294
4     10007                  46.166929
...     ...                        ...
5872  21746                  45.761590
5873  21747                  48.017085
5874  21750                  46.374749
5875  21752                  48.076530
5876  21754                  51.267313

[5838 rows x 2 columns]

         Id  pre_bagRidge_domain2_var2
0     10001                  50.639470
1     10002                  52.007702
2     10004                  50.433512
3     10005                  51.899048
4     10007                  52.333379
...     ...                        ...
5872  21746                  49.912153
5873  21747                  52.178250
5874  21750                  51.902514
5875  21752                  52.063537
5876  21754                  51.526087

[5838 rows x 2 columns]

In [30]:
for df in pred_train_targets_bagging_ridge_dfs.values():
    display(df.describe())

       pre_bagRidge_age
count       5877.000000
mean          50.038717
std           10.038128
min           19.518356
25%           42.842211

       pre_bagRidge_domain1_var1
count                5439.000000
mean                   51.492404
std                     3.185482
min                    40.796837
25%                    49.327597

       pre_bagRidge_domain1_var2
count                5439.000000
mean                   59.245596
std                     0.645455
min                    56.373948
25%                    58.836050

       pre_bagRidge_domain2_var1
count                5838.000000
mean                   47.321834
std                     2.256074
min                    40.439732
25%                    45.751823

       pre_bagRidge_domain2_var2
count                5838.000000
mean                   51.903249
std                     1.865373
min                    40.634094
25%                    50.685836

# 2nd layer

In [39]:
for i, pred_df in enumerate(pred_train_targets_svr_dfs.values()):
    if i == 0:
        pred_train_dfs = pred_df
        display(pred_train_dfs, head=False)
    else:
        pred_train_dfs = pd.merge(pred_train_dfs, pred_df, on='Id')
        display(pred_train_dfs, head=False)

for i, pred_df in enumerate(pred_train_targets_bayes_ridge_dfs.values()):
    pred_train_dfs = pd.merge(pred_train_dfs, pred_df, on='Id')

for i, pred_df in enumerate(pred_train_targets_bagging_ridge_dfs.values()):
    pred_train_dfs = pd.merge(pred_train_dfs, pred_df, on='Id')

         Id  pre_svrage
0     10001   60.877768
1     10002   55.056918
2     10004   51.727589
3     10005   61.276086
4     10007   44.009071
...     ...         ...
5872  21746   33.566653
5873  21747   51.158271
5874  21750   40.541940
5875  21752   55.981565
5876  21754   69.335800

[5877 rows x 2 columns]

         Id  pre_svrage  pre_svrdomain1_var1
0     10001   60.877768            53.299463
1     10002   55.056918            54.708045
2     10004   51.727589            51.827130
3     10007   44.009071            49.981281
4     10008   45.720762            48.348171
...     ...         ...                  ...
5434  21746   33.566653            50.700319
5435  21747   51.158271            48.903705
5436  21750   40.541940            49.380542
5437  21752   55.981565            54.848841
5438  21754   69.335800            58.144500

[5439 rows x 3 columns]

         Id  pre_svrage  pre_svrdomain1_var1  pre_svrdomain1_var2
0     10001   60.877768            53.299463            59.886287
1     10002   55.056918            54.708045            59.812542
2     10004   51.727589            51.827130            59.973826
3     10007   44.009071            49.981281            60.135853
4     10008   45.720762            48.348171            59.826795
...     ...         ...                  ...                  ...
5022  20907   66.522441            55.224050            60.523292
5023  20908   67.685107            57.008803            59.813850
5024  20909   59.474330            52.352975            60.451950
5025  20913   43.982654            49.181505            59.784669
5026  20914   68.103140            56.297254            60.336669

[5027 rows x 4 columns]

,Id,pre_svrage,pre_svrdomain1_var1,pre_svrdomain1_var2,pre_svrdomain2_var1
0,10001,60.877768,53.299463,59.886287,49.506853
1,10002,55.056918,54.708045,59.812542,48.809679
2,10004,51.727589,51.827130,59.973826,47.702372
3,10007,44.009071,49.981281,60.135853,46.080720
4,10008,45.720762,48.348171,59.826795,50.283122
...,...,...,...,...,...
5018,20907,66.522441,55.224050,60.523292,51.844863
5019,20908,67.685107,57.008803,59.813850,54.298959
5020,20909,59.474330,52.352975,60.451950,51.569069
5021,20913,43.982654,49.181505,59.784669,44.085006
5022,20914,68.103140,56.297254,60.336669,50.781084

,Id,pre_svrage,pre_svrdomain1_var1,pre_svrdomain1_var2,pre_svrdomain2_var1,pre_svrdomain2_var2
0,10001,60.877768,53.299463,59.886287,49.506853,50.245806
1,10002,55.056918,54.708045,59.812542,48.809679,52.669451
2,10004,51.727589,51.827130,59.973826,47.702372,50.088077
3,10007,44.009071,49.981281,60.135853,46.080720,52.361837
4,10008,45.720762,48.348171,59.826795,50.283122,51.015913
...,...,...,...,...,...,...
5018,20907,66.522441,55.224050,60.523292,51.844863,53.256785
5019,20908,67.685107,57.008803,59.813850,54.298959,45.116574
5020,20909,59.474330,52.352975,60.451950,51.569069,49.715096
5021,20913,43.982654,49.181505,59.784669,44.085006,56.574379
5022,20914,68.103140,56.297254,60.336669,50.781084,55.237961

In [40]:
pred_train_dfs

,Id,pre_svrage,pre_svrdomain1_var1,pre_svrdomain1_var2,pre_svrdomain2_var1,pre_svrdomain2_var2,pre_bayRidge_age,pre_bayRidge_domain1_var1,pre_bayRidge_domain1_var2,pre_bayRidge_domain2_var1,pre_bayRidge_domain2_var2,pre_bagRidge_age,pre_bagRidge_domain1_var1,pre_bagRidge_domain1_var2,pre_bagRidge_domain2_var1,pre_bagRidge_domain2_var2
0,10001,60.877768,53.299463,59.886287,49.506853,50.245806,60.906731,53.632844,58.933031,48.193288,50.639470,60.906731,53.632844,58.933031,48.193288,50.639470
1,10002,55.056918,54.708045,59.812542,48.809679,52.669451,56.150469,53.087283,59.347237,47.758491,52.007702,56.150469,53.087283,59.347237,47.758491,52.007702
2,10004,51.727589,51.827130,59.973826,47.702372,50.088077,52.027515,52.085337,58.739435,46.646664,50.433512,52.027515,52.085337,58.739435,46.646664,50.433512
3,10007,44.009071,49.981281,60.135853,46.080720,52.361837,43.660350,49.480579,59.537922,46.166929,52.333379,43.660350,49.480579,59.537922,46.166929,52.333379
4,10008,45.720762,48.348171,59.826795,50.283122,51.015913,47.661924,49.274360,60.325961,48.543376,51.018979,47.661924,49.274360,60.325961,48.543376,51.018979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5018,20907,66.522441,55.224050,60.523292,51.844863,53.256785,69.359645,54.745512,58.922700,53.015782,52.337863,69.359645,54.745512,58.922700,53.015782,52.337863
5019,20908,67.685107,57.008803,59.813850,54.298959,45.116574,69.242173,56.658688,59.637176,51.875902,47.190798,69.242173,56.658688,59.637176,51.875902,47.190798
5020,20909,59.474330,52.352975,60.451950,51.569069,49.715096,59.334345,52.939091,59.397052,49.190394,49.384206,59.334345,52.939091,59.397052,49.190394,49.384206
5021,20913,43.982654,49.181505,59.784669,44.085006,56.574379,41.735088,49.113592,58.947732,43.337718,55.488100,41.735088,49.113592,58.947732,43.337718,55.488100
5022,20914,68.103140,56.297254,60.336669,50.781084,55.237961,68.435403,55.730491,58.937325,50.235067,53.633286,68.435403,55.730491,58.937325,50.235067,53.633286

In [41]:
for i, pred_df in enumerate(pred_test_targets_svr_dfs.values()):
    if i == 0:
        pred_test_dfs = pred_df
    else:
        pred_test_dfs = pd.merge(pred_test_dfs, pred_df, on='Id')

for i, pred_df in enumerate(pred_test_targets_bayes_ridge_dfs.values()):
    pred_test_dfs = pd.merge(pred_test_dfs, pred_df, on='Id')

for i, pred_df in enumerate(pred_test_targets_bagging_ridge_dfs.values()):
    pred_test_dfs = pd.merge(pred_test_dfs, pred_df, on='Id')

In [42]:
pred_test_dfs

,Id,pre_svrage,pre_svrdomain1_var1,pre_svrdomain1_var2,pre_svrdomain2_var1,pre_svrdomain2_var2,pre_bayRidge_age,pre_bayRidge_domain1_var1,pre_bayRidge_domain1_var2,pre_bayRidge_domain2_var1,pre_bayRidge_domain2_var2,pre_bagRidge_age,pre_bagRidge_domain1_var1,pre_bagRidge_domain1_var2,pre_bagRidge_domain2_var1,pre_bagRidge_domain2_var2
0,10003,51.174243,50.344552,59.893084,47.831571,58.071251,57.277173,48.902719,59.604744,49.166154,56.201002,57.277173,48.902719,59.604744,49.166154,56.201002
1,10006,62.799943,54.825729,59.848343,50.494938,51.920740,62.225247,54.251414,58.417728,49.379944,51.784544,62.225247,54.251414,58.417728,49.379944,51.784544
2,10010,40.416030,50.427917,60.263561,45.898079,53.258320,37.151168,50.050625,59.449547,45.502617,52.647155,37.151168,50.050625,59.449547,45.502617,52.647155
3,10011,49.488949,52.684360,59.941228,47.899687,51.495168,51.249614,52.089598,59.673240,47.195586,50.599439,51.249614,52.089598,59.673240,47.195586,50.599439
4,10012,51.861948,55.367383,59.875553,45.597591,58.524878,52.133715,55.197381,57.916459,46.060805,56.884844,52.133715,55.197381,57.916459,46.060805,56.884844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5872,21745,39.215215,50.607787,60.305358,46.252299,54.214536,39.921680,50.774636,59.133815,45.692795,53.023727,39.921680,50.774636,59.133815,45.692795,53.023727
5873,21748,57.492252,57.586491,59.794862,50.269298,53.274539,54.204070,57.345042,59.246141,48.603110,51.048820,54.204070,57.345042,59.246141,48.603110,51.048820
5874,21749,42.109480,47.428567,60.202178,45.114528,51.289126,40.112965,46.884474,59.818693,45.974274,52.516174,40.112965,46.884474,59.818693,45.974274,52.516174
5875,21751,39.902905,51.145214,60.281657,46.097978,56.901258,40.363149,50.894871,59.312741,45.832426,53.811222,40.363149,50.894871,59.312741,45.832426,53.811222
5876,21753,44.536472,45.792894,60.112123,44.866848,55.409808,39.894260,42.478487,59.670729,45.013859,54.620732,39.894260,42.478487,59.670729,45.013859,54.620732

In [49]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [51]:
train_x_2

array([[ 1.12802198,  0.51173479, -0.57969864, ..., -0.48359733,
         0.40215687, -0.69611284],
       [ 0.52587545,  0.959743  , -0.86853531, ...,  0.15697932,
         0.20890329,  0.0396866 ],
       [ 0.18146798,  0.04345011, -0.23684138, ..., -0.7829967 ,
        -0.28526887, -0.80687162],
       ...,
       [ 0.98284124,  0.21069858,  1.63580626, ...,  0.23401883,
         0.84533884, -1.37116117],
       [-0.61971846, -0.79800704, -0.97770404, ..., -0.46086271,
        -1.75599113,  1.91135389],
       [ 1.87546138,  1.46520048,  1.18429052, ..., -0.4769562 ,
         1.30966334,  0.91388327]])

In [59]:
layer2_pred_train_targets_bayes_ridge = {}
layer2_pred_test_targets_bayes_ridge = {}

overal_score = 0

print("N_FOLD:{}".format(N_FOLD))

for target, w in [("age", 0.3),
                  ("domain1_var1", 0.175),
                  ("domain1_var2", 0.175),
                  ("domain2_var1", 0.175),
                  ("domain2_var2", 0.175)]:
    train_x_2 = pred_train_dfs.drop("Id", axis=1)
    ss.fit(train_x_2)
    train_x_2 = ss.transform(train_x_2)
    train_x_2 = pd.DataFrame(train_x_2)
    
    test_x_2 = pred_test_dfs.drop(ID, axis=1)
    test_x_2 = ss.transform(test_x_2)
    test_x_2 = pd.DataFrame(test_x_2)
    
    train_y = pd.merge(pred_train_dfs, train, on='Id')[target]
    bayes_ridge = BayesianRidge(n_iter = 3000)
    
    print("-----{}-----".format(target))
    pred_train, preds_test, score_cv = predict_cv(train_x_2, train_y, test_x_2, bayes_ridge, target)
    overal_score += w*score_cv
    layer2_pred_train_targets_bayes_ridge[target] = pred_train
    layer2_pred_test_targets_bayes_ridge[target] = preds_test
print('--------------------------------------------')
print("Overal score:", np.round(overal_score, 8))

N_FOLD:5
-----age-----
age_score:0.14450762
age_mae:7.165882937040221
age_rmse:9.08866542969162
-----domain1_var1-----
domain1_var1_score:0.15079751
domain1_var1_mae:7.753061917963241
domain1_var1_rmse:9.658061018797524
-----domain1_var2-----
domain1_var2_score:0.15156318
domain1_var2_mae:8.975296581554787
domain1_var2_rmse:11.371867998760283
-----domain2_var1-----
domain2_var1_score:0.18070309
domain2_var1_mae:8.539977143923995
domain2_var1_rmse:10.822532118821183
-----domain2_var2-----
domain2_var2_score:0.17525008
domain2_var2_mae:9.105684742604907
domain2_var2_rmse:11.643181265152661
--------------------------------------------
Overal score: 0.15855721

In [60]:
pred_train_targets_df = pd.DataFrame(layer2_pred_train_targets_bayes_ridge)
pred_test_targets_df = pd.DataFrame(layer2_pred_test_targets_bayes_ridge)

In [61]:
pred_train_targets_df.describe()

               age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
count  5023.000000   5023.000000   5023.000000   5023.000000   5023.000000
mean     49.595537     51.409437     59.220408     47.267498     51.958054
std       9.799920      3.211641      0.607527      2.340229      1.692472
min      19.944774     40.480599     56.266201     39.518175     44.622232
25%      42.503242     49.195304     58.837781     45.583206     50.822402
50%      49.306557     51.392079     59.225036     47.229798     51.930800
75%      56.352955     53.565712     59.613002     48.886409     53.057813
max      85.413951     61.802554     61.442676     57.155379     58.916010

In [62]:
pred_test_targets_df

            age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
0     54.458913     50.265852     58.895834     48.684817     54.934203
1     62.411754     54.746947     58.562211     49.723712     51.315096
2     38.015226     49.037835     59.422630     44.562760     52.782083
3     50.382304     52.145620     59.490938     47.653580     51.017970
4     51.525565     54.852373     57.379046     44.653233     56.268503
...         ...           ...           ...           ...           ...
5872  39.011618     49.974496     59.170729     44.623792     53.179223
5873  55.053018     56.179779     58.709875     47.762243     51.619136
5874  40.808674     46.723810     59.910739     46.110747     52.019147
5875  39.338990     50.202621     59.054868     44.357680     54.274387
5876  42.144017     44.308810     59.775934     45.787304     54.042853

[5877 rows x 5 columns]

# Submit

In [63]:
test_df = pd.concat([test['Id'], pred_test_targets_df], axis=1)

In [64]:
test_df

         Id        age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
0     10003  54.458913     50.265852     58.895834     48.684817     54.934203
1     10006  62.411754     54.746947     58.562211     49.723712     51.315096
2     10010  38.015226     49.037835     59.422630     44.562760     52.782083
3     10011  50.382304     52.145620     59.490938     47.653580     51.017970
4     10012  51.525565     54.852373     57.379046     44.653233     56.268503
...     ...        ...           ...           ...           ...           ...
5872  21745  39.011618     49.974496     59.170729     44.623792     53.179223
5873  21748  55.053018     56.179779     58.709875     47.762243     51.619136
5874  21749  40.808674     46.723810     59.910739     46.110747     52.019147
5875  21751  39.338990     50.202621     59.054868     44.357680     54.274387
5876  21753  42.144017     44.308810     59.775934     45.787304     54.042853

[5877 rows x 6 columns]

In [65]:
test_df.describe()

               age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
count  5877.000000   5877.000000   5877.000000   5877.000000   5877.000000
mean     48.823238     51.476548     59.192223     46.948156     52.098323
std      10.157735      3.286827      0.579332      2.451747      1.648635
min      17.134404     40.682046     56.861183     38.569780     46.255285
25%      41.456097     49.168716     58.808576     45.226391     50.974574
50%      48.569523     51.490869     59.207301     46.949534     52.061430
75%      56.038227     53.748622     59.571446     48.709984     53.221464
max      81.330509     63.081988     61.405113     55.011886     58.379434

In [66]:
sub_df = pd.melt(test_df[["Id", "age", "domain1_var1", "domain1_var2", "domain2_var1", "domain2_var2"]], id_vars=["Id"], value_name="Predicted")
sub_df["Id"] = sub_df["Id"].astype("str") + "_" +  sub_df["variable"].astype("str")

sub_df = sub_df.drop("variable", axis=1).sort_values("Id")
assert sub_df.shape[0] == test_df.shape[0]*5
sub_df.head(10)

                       Id  Predicted
0               10003_age  54.458913
5877   10003_domain1_var1  50.265852
11754  10003_domain1_var2  58.895834
17631  10003_domain2_var1  48.684817
23508  10003_domain2_var2  54.934203
1               10006_age  62.411754
5878   10006_domain1_var1  54.746947
11755  10006_domain1_var2  58.562211
17632  10006_domain2_var1  49.723712
23509  10006_domain2_var2  51.315096

In [67]:
sub_df.to_csv("submission_5fold_stacking.csv", index=False)