In [48]:
import numpy as np
import pandas as pd

from scipy.sparse import load_npz
from scipy import sparse
from sklearn.decomposition import TruncatedSVD

In [49]:
import gc
gc.collect()

12724

In [50]:
input_base_path = '/media/hiroki/working/kaggle_data/trends-neuroimaging/split_IC'
out_path = '/media/hiroki/working/kaggle_data/trends-neuroimaging/split_IC/SVD'

In [51]:
ic1_train = load_npz(input_base_path + '/train/IC/ic1_matrix.npz')
ic1_test = load_npz(input_base_path + '/test/IC/ic1_matrix.npz')

In [52]:
ic1 = sparse.vstack([ic1_train, ic1_test])

In [53]:
del ic1_train, ic1_test

In [54]:
ic1

<11754x173628 sparse matrix of type '<class 'numpy.float64'>'
	with 691946226 stored elements in Compressed Sparse Row format>

In [55]:
%%time
svd = TruncatedSVD(n_components=1000, random_state=42)
decomp_ic1 = svd.fit_transform(ic1)
del ic1

CPU times: user 1min 19s, sys: 105 ms, total: 1min 19s
Wall time: 1min 20s

CPU times: user 2min 28s, sys: 86.3 ms, total: 2min 28s
Wall time: 2min 27s

In [56]:
ratio = svd.explained_variance_ratio_

In [57]:
ratio.sum()

0.036578438327167444

In [26]:
np.save(out_path+'svd_ic1_mtx',decomp_ic1)
del decomp_ic1

In [30]:
svd_ic1 = np.load(out_path+'/svd_ic1_mtx.npy')

In [31]:
svd_ic1_df = pd.DataFrame(svd_ic1,columns=['IC1_sv_0','IC1_sv_1','IC1_sv_2'])

In [32]:
svd_ic1_df

        IC1_svd_0  IC1_svd_1  IC1_svd_2
0      171.218424  -6.427769  -9.923038
1      183.244780 -50.385175   7.093901
2      176.161957  -7.524484 -10.002003
3      181.348800 -14.650756 -17.043148
4      180.138250  -5.162861  -9.383822
...           ...        ...        ...
11749  180.950685 -40.158520  -2.057099
11750  176.745390  15.437133 -14.263656
11751  169.971154  12.118586  25.889939
11752  160.253248  11.686251  15.355906
11753  175.428320   9.331824  18.620801

[11754 rows x 3 columns]